<div class="global">
  <%= link_to root_path, class: "great" do %>
    <div class="button">

    <h1 class="ml3">Iris CREY</h1>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <% end %>
</div>
