.fond {
background-color: #290147;
text-align: center;
}

.slider__final {
  font-weight: 0;
  font-size: 1em;
  color: #DAA520;
  padding-top: 40px;
  position: relative;
  bottom: 30px;
  text-align: center;
}
